:root {
  --primary-color: #ffffff;
  --secondary-color: #48525c;
  --font-color: #424242;
  --bg-color: #d1b5c0;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #add1ee;
  --secondary-color: white;
  --font-color: #e1e1ff;
  --bg-color: black;
  --heading-color: #818cab;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 30px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100px;
  width: 100%;
  font-family: "Tajawal", sans-serif;
  font-size: 24px;
}

header .links {
  margin-right: 15px;
}

header .links:hover {
  border-bottom: 1px solid var(--secondary-color);
}

main {
  width: 100%;
  font-family: "Playfair Display", serif;
}

main h1 {
  color: var(--secondary-color);
  font-size: 72px;
  margin-top: 25px;
}

main .bio {
  font-size: 24px;
  font-family: "Tajawal", sans-serif;
  color: var(--primary-color);
}

footer {
  min-height: 100px;
  width: 100%;
}

.moon-container {
  width: 125px;
  height: 125px;
}

.moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0px 0px var(--primary-color);
}

.dark-mode {
  background-color: black;
}
